body {
    font-family: sans-serif;
    background-color:  #d5f2f7
}
 body {
    font-family: sans-serif;
    background-color:#f5f38a;
}

header{
    margin: 20px;
}

.text-big,h1{
    text-decoration: none;
    text-align: center;
    text-shadow: 5px 5px 5px purple;
    color: darkblue
}

.link-header {
    text-decoration: none;
    font-size: 20px;
    color: navy;
    background-image: linear-gradient(#96C5F7,#f2f3f5);
    padding: 20px;
    border-radius: 10px;
}


.link-text:hover{
    color: darkgoldenrod;
}

.link-text:visited{
    color: gray;
}

footer{
    position: fixed;
    right: 0px;
    bottom: 0px;
}
